# .env.example
GOOGLE_SHEETS_ORDERS_WEBHOOK=https://script.google.com/macros/s/.../exec
SHEETS_SECURITY_TOKEN=zenhogar_secret_2026
ADMIN_EMAIL=zenhogar2050@gmail.com
MASTERSHOP_API_KEY=
MASTER_API_KEY=
