rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla por defecto: Denegar todo
    match /{document=**} {
      allow read, write: if false;
    }

    // Colección de pedidos
    match /orders/{orderId} {
      // Permite a cualquier visitante crear un pedido (Checkout)
      allow create: if true;
      
      // Permite leer, actualizar y ELIMINAR pedidos (Admin Dashboard)
      allow read, update, delete: if true;
    }
  }
}
